* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #e0e0e6;
}

.menu {
    background: #08a783;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.page-title {
    margin-left: 40px;
    color: white;
}

.menu ul{
    list-style: none;
    text-align: right;
}

.menu li {
    display: inline-block;
    margin-top: 8px;
    margin-right: 50px;
    
}

.menu li a {
    text-decoration: none;
    color: white;
}

table {
    width: 100%;
    /* margin: 20px auto; */
    text-align: center;
    border-collapse: collapse;
    
}
table th {
    background-color: #08a783;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px ;
}

table td {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-conteiner {
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    overflow: hidden;
}

.a-borrar {
    background-color: red;
    padding: 3px;
    
}

.i-borrar {
    color: white;
    width: 12px;
}