<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">

        <label for="">nombre</label>
        <input type="text" name="nombre" id="nombre">

        <label for="">descripcion</label>
        <input type="text" name="descripcion" id="descripcion">

        <button type="submit">click</button>

    </form>
    <a href="/">home</a>
</body>
</html>