<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/create.style.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/menu') %>

    <h1 class="funcion">Agregar articulo</h1>

    <form method="POST" class="form">

        <div class="form__grupo">
            <label for="nombre" class="form__label">Nombre del Articulo</label>
            <input type="text" class="form__input" name="nombre" id="nombre">
        </div>
        <div class="form__grupo">
            <label for="descripcion" class="form__label" >Descripcion del Articulo</label>
            <textarea name="descripcion" id="descripcion" cols="30" rows="10" class="form__txtarea"></textarea>
            <!-- <input type="text" class="form__input" name="descripcion" id="descripcion"> -->
        </div>
        <button type="submit" class="form__button">Agregar</button>

    </form>


</body>
</html>