<header>
    <link rel="stylesheet" href="../style/menu.style.css">
    <div class="menu">
        <h1 class="page-title">Mi Pagina Web</h1>
        <nav class="navigation-menu">
            <ul>
                <li><a href="/create" class="menu-item">Agregar Articulo</a></li>
                <li><a href="/" class="menu-item">Inicio</a></li>
                <li><a href="">Sobre mi</a></li>
            </ul>
        </nav>
    </div>
</header>